*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 800px;
    background-image: url(img/snapedit_1711339057508.jpeg);
}

a{
    text-decoration: none;
    color: #fff;
}

.header{
    position: relative;
        left: 70vh;
    width: 30%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header h1{
    color: #fff;
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 100px;
}

.header a:hover{
    color: rgb(255, 0, 0);
    transition: 1s;
    font-size: 120px;
}

.all{
    position: relative; 
        left: 200px;
        top: 100px;
    border-radius: 50px;
    background-image: url(img/Без\ имени.jpg);
    width: 300px;
    height: 300px;
}

.all:hover{
    transform: scale(1.1);
    transition: 1s;
}

.all a:hover{
    color: rgb(255, 0, 0);
    transition: 1s;
}

.all h2{
    position: relative;
        top: 100px;
        left: 30px;
    color: #fff;
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 80px;
}

.tables{
    position: relative; 
        left: 600px;
        bottom: 200px;
    border-radius: 50px;
    background-image: url(img/bec687727e4390d4288686e2c34cadaa.jpg);
    background-size: cover;
    width: 300px;
    height: 300px;
}

.tables:hover{
    transform: scale(1.1);
    transition: 1s;
}

.tables a:hover{
    color: rgb(255, 0, 0);
    transition: 1s;
}

.tables h2{
    position: relative;
        top: 100px;
        left: 60px;
    color: #fff;
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 80px;
}

.scientists{
    position: relative; 
        left: 1000px;
        bottom: 500px;
    border-radius: 50px;
    background-image: url(img/shutterstock_574549204.jpg);
    background-size: cover;
    width: 300px;
    height: 300px;
}

.scientists:hover{
    transform: scale(1.1);
    transition: 1s;
}

.scientists a:hover{
    color: rgb(255, 0, 0);
    transition: 1s;
}

.scientists h2{
    position: relative;
        top: 100px;
        left: 13px;
    color: #fff;
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 80px;
}